* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  overflow: hidden;
}

.links {
  stroke: #FFF;
  stroke-opacity: 0.2;
}

.polygons {
  fill: none;
  stroke: #FFF;
  stroke-opacity: 0.2;
}

.sites {
  fill: #FFF; 
  stroke: #fff;
}

.active {
  fill-opacity: 0.4;
  stroke-opacity: 0.4;
}
